
.rs-sidenav-toggle.rs-sidenav-toggle-collapsed {
  margin-top: 0;
}

.sb-divider.rs-divider-horizontal {
  margin: 10px 0;
}

.sb-group {
  padding: 15px 20px;
  color: #727171
}

.bg-white {
  background: white
}

.expand-button.rs-btn {
  background: rgba(0, 0, 0, 0);
}

.expand-button.rs-btn:hover {
  background: rgba(0, 0, 0, 0);
}

.rs-sidenav-item .rs-icon {
  height: 20px !important;
}

.rs-sidenav-item {
  color: var(--rs-text-primary) !important;
}

.rs-sidenav-item.rs-sidenav-item-active {
  color: var(--rs-sidenav-subtle-selected-text) !important;
}

.rs-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rs-sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.rs-sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}