.flex-nested {
  display: flex !important;
  flex-flow: row wrap;

}

.rowBlock {
  padding: 1rem;
  background-color: rgba(62, 132, 230, 0.06);
  border-radius: 6px;
}

.flex-nested .rs-form-group {
  width: 50%;
  padding-right: 1rem;
}

.no-data {
  border: 1px dashed gray;
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: 6px;
  text-align: center
}