@media (min-width: 768px) {
  .center-pagination .rs-pagination {
    margin: auto;
  }
}

.rs-pagination-group-total {
  font-size: 16px;
}

.rs-table-cell-content {
  font-size: 14px;
}

.rs-action {
  display: none;
}

.rs-table-row:hover .rs-action {
  display: block;
}

.pointer {
  cursor: pointer;
}

//.rs-table-row {
//  cursor: pointer;
//  height: unset !important;
//  position: static !important;
//  transform: unset !important;
//}

//
//.rs-table-cell {
//  position: static !important;
//}

//.rs-table-row-header {
//  min-width: unset !important;
//}
//
//.rs-table-body-row-wrapper {
//  top: unset !important;
//}

.rs-table-cell-group {
  display: flex;
}

//.base-table .rs-panel-body {
//  padding: 0;
//}
//
//.tb-cell {
//  padding: 1rem;
//  border-bottom: 1px solid var(--rs-border-secondary)
//}
//
//.tb-header {
//  border-bottom: 1px solid var(--rs-border-secondary)
//}
//
//.tb-action-cell {
//  padding-top: 0.5rem;
//  border-bottom: 1px solid var(--rs-border-secondary)
//
//}